
.navbar {
  top: 0; 
}

body {
  margin: 0;
  padding: 0;
  background-image: url('img/clothes2/Bg7.png');
  margin-bottom: 20px;
  background-size: cover;
  background-position: center;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center; 
  justify-content: flex-start; 
}

.container {
  width: auto; 
  height: 100%; 
  overflow: hidden;
  margin-top: 1px;
  position: relative; 
  overflow: visible; 
  
}


h1 {
  font-family: "Showcard Gothic";
  font-weight: 600;
  font-size: 60px;
  color: rgb(	105, 230, 201);
 text-shadow: 0 0 20px rgb(	255, 255, 255);
  margin-bottom: 2px;
  margin-top: 15px;
  -webkit-text-stroke: 1px rgb(255, 255, 255);
  letter-spacing: 4px; /* เพิ่มระยะห่างระหว่างตัวอักษร */
}

h4 {
  color: green;
  font-size: 22px;
}


.image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/*icon home*/
.container-home {
  position: absolute;
  top: -10%;
  left:-4%;
  transform: translate(-50%, -50%);
  width: 5%; 
  z-index: 1; 
}

/*icon preview*/
.container-preview {
  position: absolute;
  top: -10%;
  right: -3%;
  transform: translate(-50%, -50%);
  width: 7%; 
  z-index: 1; 
}

/*icon next*/
.container-next {
  position: absolute;
  top: -10%;
  right: -10%;
  transform: translate(-50%, -50%);
  width: 7%; 
  z-index: 2; 
}

/*กางเกงในผู้ชาย*/
.container-briefs {
  position: absolute;
  top: 95%;
  left: 28%;
  transform: translate(-50%, -50%);
  width: 8%; 
  z-index: 2; 
}

/*กางเกงในผู้หญิง*/
.container-panties {
  position: absolute;
  top: 95%;
  left: 45%;
  transform: translate(-50%, -50%);
  width: 8%; 
  z-index: 1; 
}



/*รองเท้าบูท*/
.container-boots {
  position: absolute;
  top: 55%;
  left: 49%;
  transform: translate(-50%, -50%);
  width: 8%; 
  z-index: 9; 
}

/*รองเท้า*/
.container-shoes {
  position: absolute;
  top: 71.5%;
  left: 43%;
  transform: translate(-50%, -50%);
  width: 8%; 
  z-index: 2; 
}

/*รองเท้าแตะหัวปิด*/
.container-slippers {
  position: absolute;
  top: 73%;
  left: 68.8%;
  transform: translate(-50%, -50%);
  width:6%; 
  z-index: 3; 
}

/*ถุงเท้า*/
.container-socks {
  position: absolute;
  top: 74%;
  left: 82%;
  transform: translate(-50%, -50%);
  width: 9%; 
  z-index: 1; 
}

/*หมวกปีกกว้าง*/
.container-widebrimhat {
  position: absolute;
  top: 24%;
  left: 71%;
  transform: translate(-50%, -50%);
  width: 11%; 
  z-index: 1; 
}

/*หมา*/
.container-dog {
  position: absolute;
  top: 26%;
  left: 83%;
  transform: translate(-50%, -50%);
  width: 6%; 
  z-index: 1; 
}


/*รองเท้าแตะ*/
.container-flipflops {
  position: absolute;
  top: 70%;
  left: 51%;
  transform: translate(-50%, -50%);
  width: 6%; 
  z-index: 7;
}



/*รองเท้าแตะรัดส้น*/
.container-sandals {
  position: absolute;
  top: 70%;
  right: 33%;
  transform: translate(-50%, -50%);
  width: 7%; 
  z-index: 6; 
}



/*ผู้หญิง*/
.container-girl {
  position: absolute;
  top: 47%;
  left: 31%;
  transform: translate(-50%, -50%);
  width: 13%; 
  z-index: 0; 
}

/*ราวแขวานผ้า*/
.container-clothesline {
  position: absolute;
  top: 46%;
  left: 56%;
  transform: translate(-50%, -50%);
  width: 35%; 
  z-index: 0; 
}




/*เครื่องซักผ้า*/
.container-washing {
  position: absolute;
  top: 48%;
  left: 84%;
  transform: translate(-50%, -50%);
  width: 20%; 
  z-index: 0; 
}


/*เสื้อกันฝน*/
.container-raincoat {
  position: absolute;
  top: 32%;
  left: 13%;
  transform: translate(-50%, -50%);
  width: 14%; 
  z-index: 2; 
}

/*เสื้อคลุมกันฝน*/
.container-poncho {
  position: absolute;
  top: 67%;
  left: 13%;
  transform: translate(-50%, -50%);
  width: 13%; 
  z-index: 1; 
}

/*ชุดว่ายน้ำ*/
.container-swimsuit {
  position: absolute;
  top: 15%;
  left: 25%;
  transform: translate(-50%, -50%);
  width: 10%; 
  z-index: 2; 
}

/*เสื้อกันหนาว*/
.container-sweater {
  position: absolute;
  top: 35%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 11%; 
  z-index: 1; 
}

/*เสื้อแจ๊กเก็ต*/
.container-jacket {
  position: absolute;
  top: 36%;
  left: 61%;
  transform: translate(-50%, -50%);
  width: 10%; 
  z-index: 1; 
}



.container-widebrimhat img,.container-flipflops img,.container-briefs img, .container-sweater img, .container-panties img,
.container-stocking img,.container-jacket img, .container-socks img,.container-raincoat img, .container-swimsuit img, .container-boots img, .container-shoes img,.container-sandals img,.container-poncho img, .container-quesclo4 img, .container-slippers img, .container-quesclo5 img {
  transition: transform 0.3s ease, filter 0.3s ease;
}


.container-widebrimhat img:hover,.container-flipflops img:hover,.container-briefs img:hover,.container-sweater img:hover,
 .container-stocking img:hover,  .container-panties img:hover,
.container-jacket img:hover, .container-boots img:hover, .container-shoes img:hover, .container-slippers img:hover, 
.container-raincoat img:hover, .container-swimsuit img:hover,  .container-sandals img:hover,
.container-poncho img:hover,.container-quesclo4 img:hover, .container-quesclo5 img:hover , .container-socks img:hover {
  transform: translateY(-10px);
  filter: brightness(80%);
}


/*ถุงน่อง, ถุงเท้ายาว*/
.container-stocking {
  position: absolute;
  top: 90.7%;
  left: 61%;
  transform: translate(-50%, -50%);
  width: 8%; 
  z-index: 1; 
}




/*คำถาม1*/
.container-quesclo4 {
  position: absolute;
  top: 21%;
  left: 37%;
  transform: translate(-50%, -50%);
  width: 7%; 
  z-index: 2; 
}

/*คำถาม2*/
.container-quesclo5 {
  position: absolute;
  top: -20%;
  left: 803%;
  transform: translate(-50%, -50%);
  width: 110%; 
  z-index: 0; 
}

/*ออก*/
.container-exit {
  position: absolute;
  top: 800%;
  right: -900%;
  transform: translate(-50%, -50%);
  width: 80%; 
  z-index: 1; 
}

/*ส่วนที่เพิ่มเข้ามา*/
.hover-number {
  position: absolute;
  top: -10px;
  left: -25px;
  font-size: 18px;
  font-weight: bold;
  color: rgb(255, 255, 255);
  background-image: url('img/clothes2/speaker.png');
  width: 40px;
  height: 40px;
  background-size: cover; 
text-align: center;
  display: none;
  opacity: 0.8; 
  padding-top: 5px;
}




.speech-box, .speech-box11, .speech-box2,.speech-box3,.speech-box4,.speech-box5,.speech-box6,.speech-box7,.speech-box8 {
  display: none;
    font-family: "KG Primary Penmanship 2", sans-serif;
    font-size: 24px;
    color: black;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 5px 10px;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    white-space: nowrap;
  position: absolute;
}

.thai-text {
  font-family: "TH Chakra Petch", sans-serif;
}

 /* เสื้อแจ๊กเก็ต,นกเพนกวินซ้าย,แตงโมม่วง */
.speech-box {
  width: 160px;
  height: 120px;
  bottom: 97%; 
  left: 50%; 
  transform: translateX(-50%);
  z-index: 3;
}

/*รองเท้าแตะ,นกกระทุง*/
.speech-box11 {
  width: 130px;
  height: 120px;
  top: 75%;
  left: 15%;
  z-index: 2; 
}


 /* นกฮัมมิ่งเบิร์ด,นกกระเรียน */
.speech-box2 {
  width: 110px;
  height: 90px;
  text-align: center;
  line-height: 25px;
  top: 95%; 
  left: -9%;
  z-index: 1;
}

 /* ปะการัง,ถุงน่อง, ถุงเท้ายาว,มังคุด,แอปเปิ้ล,ชุดว่ายน้ำ */
.speech-box3 {
    width: 140px;
    height: 120px;
    bottom: 97%; 
    left: 50%; 
    transform: translateX(-50%);
    z-index: 3;
  }

 /* ถุงน่อง, ถุงเท้ายาวเทศ,สิงโตทะเล,รองเท้าแตะรัดส้น,กางเกงในผู้ชาย */
 .speech-box4 {
   width: 140px;
   height: 120px; 
   position: absolute;
   top: 7%; 
   left: 80%;
   z-index: 3;
 }

 .speech-box5 {
  width: 135px;
  height: 120px; 
  position: absolute;
  top: 95%; 
  left: -35%;
  z-index: 2;
}

   
  /* เสื้อคลุมกันฝน */
  .speech-box6 {
    width: 180px;
    height: 120px;
    bottom: 70%; 
    left: -40%; 
    transform: translateX(-50%);
    z-index: 3;
   }

    /* คำถามข้อที่ 1*/
.speech-box7 {
  font-size: 30px; 
  color: #0A2963; 
  background-color: #FF9EAE;
  width: 340px; 
  height: 100px;
  text-align: center;
  line-height: 47px; 
  top: -95%;
  left: 55%;
  z-index: -1;
}

    /* คำถามข้อที่ 2*/
    .speech-box8 {
      font-size: 30px; 
      color: #0A2963; 
      background-color: #F2FCC8;
      width: 270px; 
      height: 160px;
      text-align: center;
      line-height: 47px; 
      top: 80%;
  left: 40%;
      z-index: -1;
    }


    @media screen and (max-width: 768px) {
      /* Adjust container sizes and positions */
      .container {
        width: 100vw;
        height: 100vh;
      }

      h1 {
        font-size: 30px;
      }
      
      h4 {
        font-size: 12px;
      }

      .container-skirt {
  position: absolute;
  top: 70%;
  left: 65.6%;
  transform: translate(-50%, -50%);
  width:9.1%; 
  z-index: 1; 
}
      /*ส่วนที่เพิ่มเข้ามา*/
    .hover-number {
      position: absolute;
      top: -10px;
      left: 40px;
      font-size: 11px;
      font-weight: bold;
      color: rgb(255, 255, 255);
      background-image: url('../Testvocab/img/clothes2/speaker.png');
      width: 20px;
      height: 20px;
      background-size: cover; 
      text-align: center;
      display: none;
      opacity: 0.8; /* ปรับค่า opacity เพื่อทำให้ภาพ speaker.png จางลง */
      padding-top: 1%;
      z-index: 5;
      }

      
      .container-sandals .hover-number,
      .container-slippers .hover-number {
        top: 10px;
        left:-5px;
        z-index: 5;
        }


    .container-shoes .hover-number,
    .container-flipflops .hover-number{
        top: -10px;
        left:-5px;
        z-index: 5;
        }

        .container-stocking .hover-number {
        top: 20px;
        left:5px;
        z-index: 5;
        }

      .speech-box, .speech-box11,.speech-box2,.speech-box3,.speech-box6,.speech-box7,.speech-box4,.speech-box5,.speech-box8 {
        display: none;
        font-family: "KG Primary Penmanship 2", sans-serif;
          font-size: 14px;
          color: black;
          background-color: rgba(255, 255, 255, 1.8);
          padding: 5px 10px;
          border-radius: 10px;
          box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
          white-space: nowrap;
        position: absolute;
      }


    
      /* Adjust speech box sizes and positions */
      .speech-box{
        width: 95px;
        height: 50px;
        top: -230%; 
        left:50%; 
        line-height: 14px; 
        z-index: -1;
        }
    
      .speech-box11{
        width: 80px;
        height: 70px;
        top: 50%; 
        left:10%; 
        line-height: 18px; 
        z-index: -1;
        }

      .speech-box2 {
        width: 75px;
        height: 40px;
        top: 60%; 
        left:-50%; 
        line-height: 10px; 
        z-index: -1;
        }
    
      .speech-box3{
        width: 90px;
    height: 80px;
    bottom: 97%; 
    left: 50%; 
    transform: translateX(-50%);
    z-index: -1;
        }

        .speech-box4{
          width: 100px;
          height: 70px;
          bottom: 100%; 
          left:60%; 
          line-height: 18px; 
          z-index: -1;
          }

        .speech-box5{
    width: 90px;
    height: 60px;
    top: 50%; 
    left: 120%; 
    transform: translateX(-50%);
    line-height: 17px; 
    z-index: -1;
          }

          .speech-box6{
    width: 110px;
    height: 60px;
    top: -20%; 
    left: -50%; 
    transform: translateX(-50%);
    line-height: 17px; 
    z-index: -1;
          }
    
      .speech-box7{
        color: #0A2963; 
        background-color: #FF9EAE;
        width: 160px; 
        height: 50px;
        text-align: center;
        line-height: 17px; 
        top: -75%;
        left: 50%;
        z-index: -1;
      }

      .speech-box8{
        color: #0A2963; 
        background-color: #F2FCC8;
        width: 150px; 
        height: 60px;
        text-align: center;
        line-height: 17px; 
        top: -25%;
        left: -300%;
        z-index: -1;
      }
    }
