
.navbar {
  top: 0;
}

body {
  margin: 0;
  padding: 0;
  background-image: url('../Testvocab/img/final/bghobbies.png');
  margin-bottom: 20px;
  background-size: cover;
  background-position: center;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center; 
  justify-content: flex-start;
}

.container {
  width:100%; 
  height: 100%;
  overflow: hidden;
  margin-top: 1px;
  position: relative; 
  overflow: visible; 
  
}


h1 {
  font-family: "Showcard Gothic";
  font-size: 60px;
  color: #F69833;
  text-shadow: 0 0 10px #1B2654, 0 0 20px #1B2654, 0 0 30px #1B2654;
  margin-bottom: 2px;
  margin-top: 15px;
  -webkit-text-stroke: 3px #ffffff;
  letter-spacing: 5px;
}

h4 {
  color: green;
  font-size: 22px;
}


.image {
  width: 100%;
  height: 100%;
  margin-left: -3.5%;
  object-fit: cover;
}

/*icon home*/
.container-home {
  position: absolute;
  top: -10%;
  left:-8%;
  transform: translate(-50%, -50%);
  width: 5%; 
  z-index: 1; 
}

/*icon preview*/
.container-preview {
  position: absolute;
  top: -10%;
  right: -7%;
  transform: translate(-50%, -50%);
  width: 7%; 
  z-index: 1; 
}

/*icon next*/
.container-next {
  position: absolute;
  top: -10%;
  right: -15%;
  transform: translate(-50%, -50%);
  width: 7%; 
  z-index: 2; 
}


/*ถ่ายภาพ*/
.container-takingphotograph {
  position: absolute;
  top: 15%;
  left: -5%;
  transform: translate(-50%, -50%);
  width: 11%; 
  z-index: 1; 
}

/*ทำสวน*/
.container-gardening {
  position: absolute;
  top: 49%;
  left: -5%;
  transform: translate(-50%, -50%);
  width: 10%; 
  z-index: 7; 
}

/*ดูแลสัตว์เลี้ยง*/
.container-caringforpets {
  position: absolute;
  top: 85%;
  left: -5%;
  transform: translate(-50%, -50%);
  width: 17%; 
  z-index: 7; 
}

/*ฝึกศิลปะป้องกันตัว*/
.container-doingmartialarts {
  position: absolute;
  top: 41.5%;
  left: 43%;
  transform: translate(-50%, -50%);
  width: 23%; 
  z-index: 1; 
}

/*วาดภาพ*/
.container-painting{
  position: absolute;
  top: 71%;
  left: 16%;
  transform: translate(-50%, -50%);
  width: 13.5%; 
  z-index: 6; 
}

/*เขียนหนังสือ*/
.container-writing {
  position: absolute;
  top: 74%;
  left: 33%;
  transform: translate(-50%, -50%);
  width: 9%; 
  z-index: 4; 
}

/*เล่นโยคะ*/
.container-doingyoga{
  position: absolute;
  top: 85.5%;
  left: 56%;
  transform: translate(-50%, -50%);
  width: 13%; 
  z-index: 4; 
}


/*ต่อจิ๊กซอว์*/
.container-solvingjigsawpuzzles {
  position: absolute;
  top: 62%;
  left: 49.5%;
  transform: translate(-50%, -50%);
  width: 17.5%; 
  z-index: 3; 
}

/*บินโดรน*/
.container-flyingdrone {
  position: absolute;
  top: 40%;
  left: 65%;
  transform: translate(-50%, -50%);
  width: 15%; 
  z-index: 1; 
}

/*ดูโทรทัศน์*/
.container-watchingtv {
  position: absolute;
  top: 14%;
  left: 105%;
  transform: translate(-50%, -50%);
  width: 15%; 
  z-index: 1; 
}

/*เข้าชมรมหุ่นยนต์*/
.container-joiningaroboticsclub {
  position: absolute;
  top: 47%;
  left: 107%;
  transform: translate(-50%, -50%);
  width: 17%; 
  z-index: 1; 
}

/*ฟังดนตรี*/
.container-listeningtomusic {
  position: absolute;
  top: 78%;
  left: 107%;
  transform: translate(-50%, -50%);
  width: 12%; 
  z-index: 6;
}

/*เล่นเกมส์ออนไลน์*/
.container-playingonlinegames {
  position: absolute;
  top: 81%;
  left: 85.5%;
  transform: translate(-50%, -50%);
  width: 15%; 
  z-index: 3; 
}


/*อ่านหนังสือ*/
.container-reading {
  position: absolute;
  top: 63.7%;
  left: 75.5%;
  transform: translate(-50%, -50%);
  width: 19%; 
  z-index: 2; 
}

/*ส่วนที่เพิ่มเข้ามา*/
.hover-number {
  position: absolute;
  top: 85px;
  left: -35px;
  font-size: 18px;
  font-weight: bold;
  color: rgb(255, 255, 255);
  background-image: url('../Testvocab/img/clothes2/speaker.png');
  width: 40px;
  height: 40px;
  background-size: cover; 
text-align: center;
  display: none;
  opacity: 0.8;
  padding-top: 5px;
  z-index: -4; 
}

.container-watchingtv .hover-number,
.container-joiningaroboticsclub .hover-number{
top: 85px;
left:-10px;
}

.container-playingonlinegames .hover-number,
.container-listeningtomusic .hover-number{
top: 85px;
left:-45px;
}

.container-caringforpets .hover-number{
  top: 5px;
  left:45px;
  }
.container-flyingdrone .hover-number{
  top: 85px;
  left:45px;
  }





.container-reading img,.container-nineteenth img,.container-joiningaroboticsclub img,.container-listeningtomusic img,.container-flyingdrone img, .container-solvingjigsawpuzzles img, .container-twelfth img,
.container-doingmartialarts img, .container-doingyoga img, .container-painting img,.container-caringforpets img, .container-ninth img,.container-writing img, .container-watchingtv img, .container-takingphotograph img, .container-eleventh img, .container-eighth img,.container-gardening img,.container-playingonlinegames img, .container-queshobbies1 img, .container-tenth img, .container-queshobbies2 img {
  transition: transform 0.3s ease, filter 0.3s ease;
}

.container-reading img:hover,.container-nineteenth img:hover,.container-listeningtomusic img:hover,.container-flyingdrone img:hover,.container-solvingjigsawpuzzles img:hover,.container-joiningaroboticsclub img:hover,
 .container-doingmartialarts img:hover,.container-doingyoga img:hover, .container-painting img:hover, .container-twelfth img:hover,
.container-caringforpets img:hover, .container-eleventh img:hover, .container-eighth img:hover, .container-tenth img:hover, 
.container-writing img:hover, .container-watchingtv img:hover, .container-takingphotograph img:hover, .container-gardening img:hover,
.container-playingonlinegames img:hover,.container-queshobbies1 img:hover, .container-queshobbies2 img:hover , .container-ninth img:hover {
  transform: translateY(-10px);
  filter: brightness(80%); 
}

/*คำถาม1*/
.container-queshobbies1 {
  position: absolute;
  top: 10%;
  left: 28%;
  transform: translate(-50%, -50%);
  width: 4.5%; 
  z-index: 4; 
}

/*คำถาม2*/
.container-queshobbies2 {
  position: absolute;
  top: 20%;
  left: 77%;
  transform: translate(-50%, -50%);
  width: 4.5%; 
  z-index: 2; 
}

/*ออก*/
.container-exit {
  position: absolute;
  bottom: -5%;
  right: -17%;
  transform: translate(-50%, -50%);
  width: 5%; 
  z-index: 1; 
}

.speech-box, .speech-box11, .speech-box2,.speech-box3,.speech-box4,.speech-box5,.speech-box6,.speech-box7,.speech-box8 {
  display: none;
    font-family: "KG Primary Penmanship 2", sans-serif;
    font-size: 24px;
    color: black;
    background-color: rgba(255, 255, 255, 1);
    padding: 5px 10px;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); 
    white-space: nowrap;
  position: absolute;

}

.thai-text {
  font-family: "TH Chakra Petch", sans-serif;
}


.speech-box {
  width: 190px;
  height: 120px;
  bottom: 21%; 
  left: 85%; 
  z-index: -1;
}

.speech-box11 {
  width: 220px;
  height: 120px;
  bottom: 97%; 
  left: 40%; 
  transform: translateX(-50%);
  z-index: -1;
}


.speech-box2 {
  width: 190px;
  height: 120px;
  bottom: 21%; 
  left: 160%; 
  transform: translateX(-50%);
  z-index: -1;
}

.speech-box3 {
  width: 195px;
  height: 120px; 
  position: absolute;
  top: 5%; 
  left: -100%;
  z-index: -1;
  }

 .speech-box4 {
   width: 195px;
   height: 120px; 
   position: absolute;
   top: 5%; 
   left: -140%;
   z-index: -1;
 }

 .speech-box5 {
  width: 265px;
  height: 120px; 
  position: absolute;
  top: 5%; 
  left: -130%;
  z-index: -1;
}

  .speech-box6 {
     width: 160px; 
     height: 120px; 
     position: absolute;
     top: 62%; 
     right: 50%;
     z-index: -1;
   }

    /* คำถามข้อที่ 1*/
.speech-box7 {
  font-size: 25px; 
  color: #0A2963; 
  background-color: #F7DAD5;
  width: 330px; 
  height: 130px;
  text-align: center;
  line-height: 30px; 
  top: -65%;
  left: 40%;
  z-index: -1;
}

    /* คำถามข้อที่ 2*/
    .speech-box8 {
      font-size: 25px; 
      color: #0A2963; 
      background-color: #FFF8D8;
      width: 310px; 
      height: 80px;
      text-align: center;
      line-height: 30px; 
      top: -125%;
      left: -540%;
      z-index: -1;
    }


    @media screen and (max-width: 768px) {
      /* Adjust container sizes and positions */
      .image {
        width: 100%;
        height: 100%;
        /*margin-left: -5%;*/
        object-fit: cover;
      }

      h1 {
        font-size: 30px;
      }
      
      h4 {
        font-size: 12px;
      }
      
      /*ส่วนที่เพิ่มเข้ามา*/
    .hover-number {
      position: absolute;
      top: -5px;
      left: 90px;
      font-size: 11px;
      font-weight: bold;
      color: rgb(255, 255, 255);
      background-image: url('../Testvocab/img/clothes2/speaker.png');
      width: 20px;
      height: 20px;
      background-size: cover; 
      text-align: center;
      display: none;
      opacity: 0.8; /* ปรับค่า opacity เพื่อทำให้ภาพ speaker.png จางลง */
      padding-top: 1%;
      z-index: -4;
      }

      

        .speech-box,.speech-box11,.speech-box2,.speech-box3,.speech-box4,.speech-box5,.speech-box7,.speech-box8 {
        display: none;
        font-family: "KG Primary Penmanship 2", sans-serif;
          font-size: 14px;
          color: black;
          background-color: rgba(255, 255, 255, 1.8);
          padding: 5px 10px;
          border-radius: 10px;
          box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
          white-space: nowrap;
        position: absolute;
        transform: translateX(-50%);
      }

      .speech-box{
        width: 80px;
        height: 70px;
        top: -155%; 
        left: -50%; 
        z-index: -1;
              }

      .speech-box11{
  width: 80px;
  height: 70px;
  bottom: 115%; 
  left: 50%; 
  z-index: -1;
        }

      .speech-box2 {
    width: 80px;
    height: 70px;
    bottom: 67%; 
    left: 160%; 

    z-index: -1;
        }
    
      .speech-box3{
    width: 60px;
    height: 80px;
    bottom: 97%; 
    left: 10%; 

    z-index: -1;
        }

        .speech-box4 {
          width: 90px;
          height: 80px;
          bottom: 97%; 
          left: 130%; 
          z-index: -1;
              }
          
          .speech-box5{
          width: 40px;
          height: 80px;
          bottom: 97%; 
          left: 50%; 
      
          z-index: -1;
              }
    
      .speech-box7{
        color: #0A2963; 
        background-color: #FF9EAE;
        width: 180px; 
        height: 65px;
        text-align: center;
        line-height: 17px; 
        top: -75%;
        left: -850%;
        z-index: -1;
      }

      .speech-box8{
        color: #0A2963; 
        background-color: #F2FCC8;
        width: 180px; 
        height: 50px;
        text-align: center;
        line-height: 17px; 
        top: 25%;
        left: 540%;
        z-index: -1;
      }
    }

